<div>
  <app-spinner-carga [hidden]="!this.spinner.spinnerCarga"></app-spinner-carga>
</div>
<div class="container">
  <div class="row">
    <h1 class="display-1"><span style="color: #79B872;">Mis</span> Notificaciones</h1>
  </div>
  <hr>
  <div class="row" [hidden]="!NotificacionesCargadas">
    <mat-form-field appearance="outline" style="margin-right: 0px;margin-left: auto;">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese filtro de búsqueda" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="fecha_ing">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
        <td mat-cell *matCellDef="let notificacion" [ngClass]="notificacion.leido == false? 'no-leido':null"
          style="text-align: center;padding: 4px;">
          {{notificacion.fecha_ing ||
          "S/D"}} </td>
      </ng-container>
      <ng-container matColumnDef="tipo_notificacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Notificación</th>
        <td mat-cell *matCellDef="let notificacion" [ngClass]="notificacion.leido == false? 'no-leido':null"
          style="text-align: center;padding: 4px;">
          {{notificacion.descripcion ||
          "S/D"}} </td>
      </ng-container>
      <ng-container matColumnDef="mensaje">
        <th mat-header-cell *matHeaderCellDef> Mensaje</th>
        <td mat-cell *matCellDef="let notificacion" [ngClass]="notificacion.leido == false? 'no-leido':null"
          style="text-align: left;padding: 4px;">
          {{notificacion.plantilla ||
          "S/D"}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccione Recibos">
    </mat-paginator>
  </div>
</div>
