.card {
  margin-top: 2rem;
}

.card-header {
  background-color: #79B872;
}

h1 {
  margin: 3rem;
  margin-bottom: 3rem;
  font-size: 60px;
}

.tableHead {
  background-color: #79B872;
}

.btn {
  float: right;
}

.mat-success {
  background-color: green;
  color: #fff;
}

table {
  width: 100%;
  text-align: center;
}

.mat-header-cell {
  background-color: #79B872;
  color: black;
}

button {
  margin-left: 1px;
  margin-right: 1px;
}

.mat-success {
  background-color: #4CAF50;
  color: #fff;
}

.no-leido {
  font-weight: bold;
}
