<h2 mat-dialog-title>Preguntas Frecuentes</h2>
<div class="card">
  <div class="card-body">
    <mat-dialog-content>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Cómo puedo contactar al desarrollador?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Puede contactar al desarrollador a través de<a href="https://wa.me/93516558884"> Whatsapp</a> o<a
              href="https://www.instagram.com/lozadatomi/"> Instagram</a>, o llamando al número +9351 655 8884</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Cómo funciona el sistema de notificaciones?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Una vez que <b>inicie una solicitud de trámite</b> se generará automáticamente una notificación para
            recordarle de
            esta. También se le notificará
            al momento de recibir <b>una respuesta a un mensaje enviado por usted</b>, así como también cuando <b>una
              solicitud de
              trámite emitida cambie su estado</b>.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              No figuran todas mis notificaciones en el menú de notificaciones.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>El menú de notificaciones solo admite hasta 10 notificaciones a la vez, una vez que se llene empezará a
            reemplazar
            las notificaciones de la parte inferior por las nuevas notificaciones. Sin embargo puedes ver todas tus
            notificaciones en la pantalla de notificaciones. Puedes acceder a esta pantalla haciendo click en el
            botón <b>"Ver Todas"</b> en el menú de notificaciones.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              El sistema no me permite emitir una solicitu de licencia para este año, pero la pestaña de reportes indica
              que tengo días disponibles.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>En algunos casos, <b>no podrás emitir una licencia para este año si tienes días disponibles para el año
              anterior</b>. Seleccioná el año anterior y utilizá tus días antes de utilizar los del año actual.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              El sistema no me permite emitir una nueva solicitud de adelanto de sueldo.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Solo podrás emitir una solicitud de adelanto de sueldo a la vez, <b>asegurate de que no tenés solicitudes
              de
              adelanto de sueldo activas</b> y de ser así, <b>anula la solicitud existente</b> para poder crear otra.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              No me figura el botón "Ver Archivo Adjunto" al ver un mensaje.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>El botón de archivo adjunto <b>no se mostrará en caso de que el mensaje no tenga un archivo adjuntado</b>.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Cuántos días puede tardar la evaluación de una solicitud de trámite?.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>El proceso puede durar de <b>7 a 15 días</b>. En caso de no recibir respuesta dentro de este período se
            deberá enviar un mensaje a través de la plataforma al departamento de R.R.H.H.</p>
        </mat-expansion-panel>
      </mat-accordion>
      <hr>
      <div class="row" style="float: right; margin-right: 1rem;">
        <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
      </div>
    </mat-dialog-content>
  </div>
</div>
