<div>
  <app-spinner-carga [hidden]="!this.spinner.spinnerCarga"></app-spinner-carga>
</div>
<div class="container">
  <div class="row">
    <h1 class="display-1"><span style="color: #79B872;">Cambiar</span> Estados</h1>
  </div>
  <hr>
  <div class="row align-items-center d-flex justify-content-center">
    <div class="dropdown">
      <mat-form-field appearance="outline">
        <mat-label>Seleccione un Módulo</mat-label>
        <mat-select [(ngModel)]="moduloSeleccionado" name="modulos" (ngModelChange)="onChangeCombo()">
          <mat-option *ngFor="let modulos of modulosList" [value]="modulos.id">{{modulos.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <table mat-table [dataSource]="dataSource" matSort [hidden]="moduloSeleccionado != 1">
      <ng-container matColumnDef="licencia_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número</th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}"
          style="text-align: right;padding: 4px;">
          {{licencia.licencia_id ||
          "S/D"}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre_licencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Licencia </th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}"
          style="text-align: left;padding: 4px;">
          {{licencia.nombre_licencia ||
          "S/D"}} </td>
      </ng-container>
      <ng-container matColumnDef="anio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Corresp. Año </th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}"
          style="text-align: right;padding: 4px;">
          {{licencia.anio || "S/D"}} </td>
      </ng-container>
      <ng-container matColumnDef="inicio1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de inicio </th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}"
          style="text-align: center;padding: 4px;">
          {{licencia.inicio1 || "S/D"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="fin1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Fin </th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}"
          style="text-align: center;padding: 4px;">
          {{licencia.fin1 || "S/D"}} </td>
      </ng-container>
      <ng-container matColumnDef="detalles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalle </th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}"
          style="text-align: left;padding: 4px;">
          {{licencia.detalles || "S/D"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}"
          style="text-align: center;padding: 4px;">
          {{licencia.estado || "S/D"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="fecha_baja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Baja </th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}"
          style="text-align: center;padding: 4px;">
          {{licencia.fecha_baja}} </td>
      </ng-container>
      <ng-container matColumnDef="cambia-estado">
        <th mat-header-cell *matHeaderCellDef> Cambiar Estado </th>
        <td mat-cell *matCellDef="let licencia" [ngClass]="{red: licencia.fecha_baja}">
          <button [hidden]="licencia.fecha_baja && licencia.estado != 'PARA APROBAR'" type="button"
            class="btn btn-primary" (click)="abreModalLicencias(licencia.licencia_id,false)" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-recycle" style="color:white"></i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas1"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas1;"></tr>
    </table>

    <table mat-table [dataSource]="dataSource" matSort [hidden]="moduloSeleccionado != 2">
      <ng-container matColumnDef="nro_vale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Adelanto </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: right; padding: 4px;"> {{adelanto.nro_vale || "S/D"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="fecha_emision1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Emisión </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: center; padding: 4px;"> {{adelanto.fecha_emision1 ||
          "S/D"}} </td>
      </ng-container>
      <ng-container matColumnDef="concepto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: left; padding: 4px;"> {{adelanto.concepto || "S/D"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="monto_pagado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto Pagado </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: right; padding: 4px;"> {{'$' + adelanto.monto_pagado || "S/D"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="cuotas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuotas </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: right; padding: 4px;"> {{adelanto.cuotas || "0"}} </td>
      </ng-container>
      <ng-container matColumnDef="cuotas_pagas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuotas Pagas </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: right; padding: 4px;"> {{adelanto.cuotas_pagas || "0"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="monto_a_pagar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto a Pagar </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: right; padding: 4px;"> {{'$' + adelanto.monto_a_pagar ||
          "0"}} </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: center; padding: 4px;"> {{adelanto.estado || "S/D"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="fecha_baja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Baja </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}"
          style="text-align: center; padding: 4px;"> {{adelanto.fecha_baja}} </td>
      </ng-container>
      <ng-container matColumnDef="cambia-estado">
        <th mat-header-cell *matHeaderCellDef> Cambiar Estado </th>
        <td mat-cell *matCellDef="let adelanto" [ngClass]="{red: adelanto.fecha_baja}">
          <button [hidden]="adelanto.fecha_baja && adelanto.estado != 'PARA APROBAR'" type="button"
            class="btn btn-primary" (click)="abreModalAdelantos(adelanto.id_vale,false)" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-recycle" style="color:white"></i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas2"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas2;"></tr>
    </table>
    <mat-paginator [hidden]="moduloSeleccionado != 2 && moduloSeleccionado != 1" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons aria-label="Seleccione Elemento">
    </mat-paginator>
  </div>
</div>
