
h1 {
  margin: 3rem;
  margin-bottom: 3rem;
  font-size: 60px;
}

.card {
  padding: 20px;
  width: 80%;
  max-width: 700px;
  text-align: center;
  font-family: Arial;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-header {
  background-color: #79B872;
}

.colFullWidth * {
  width: 100%;
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
.mat-input-element:disabled {
  color: rgba(0, 0, 0, 1) !important;
}

.mat-success {
  background-color: #4CAF50;
  color: #fff;
}
